<div class="container mt-2">
    <div class="columns is-multiline is-mobile">
        <section class="hero">
            <div class="hero-body">
            
             <figure class="image is-2by2">
                <img [src]="(offertagObject$ | async)?.bannerImageUrl">
              </figure>
             
              <p class="title">
                {{(offertagObject$ | async)?.name}}
                <!-- {{offertagObject$?.name}} -->
             <!-- {{offerInfo}} -->
            </p>
              <p class="subtitle">
                <label>Description: </label>
                {{(offertagObject$ | async)?.description}}
              </p>
            
              <p class="subtitle">
                <label>Offer Starts on: </label>{{(offertagObject$ | async)?.start}}
              </p>
              <p class="subtitle">
                <label>Offer Ends on: </label>
                {{(offertagObject$ | async)?.end }}
              </p>
            </div>
          </section>

</div>
</div>
