.offers-icon {
  background: url("/assets/icons/pricetags-outline.svg") right no-repeat;
  width: 20px;
  height: 20px;
}

.categories-icon {
  background: url('/assets/icons/list-outline.svg') right no-repeat;
  width: 20px;
  height: 20px;
}

.buy-sweets-icon {
  background: url('/assets/icons/cash-outline.svg') right no-repeat;
  width: 20px;
  height: 20px;
}

.contact-us-icon {
  background: url('/assets/icons/call-outline.svg') right no-repeat;
  width: 20px;
  height: 20px;
}

.facebook-follow-icon {
  background: url('/assets/icons/logo-facebook.svg') right no-repeat;
  width: 50px;
  height: 50px;
  font-size: 50px;
}

.twitter-follow-icon {
  background: url('/assets/icons/logo-twitter.svg') right no-repeat;
  width: 30px;
  height: 30px;
}

.insta-follow-icon {
  background: url('/assets/icons/logo-instagram.svg') right no-repeat;
  width: 30px;
  height: 30px;
}
