<div class="container mt-5">
  <div class="columns">
    <div class="column">
      <div class="tile">
        <article class="tile is-child notification is-primary">
          <p class="title has-text-centered">Order Requests</p>
          <p class="title has-text-centered">300</p>
        </article>
      </div>
    </div>
    <div class="column">
      <article class="tile is-child notification is-warning">
        <p class="title has-text-centered">Total Items</p>
        <p class="title has-text-centered">300</p>
      </article>
    </div>
    <div class="column">
      <article class="tile is-child notification is-primary">
        <p class="title has-text-centered">Customer Feedbacks</p>
        <p class="title has-text-centered">300</p>
      </article>
    </div>
  </div>
</div>
