<div class="container mt-2">
    <div class="columns is-multiline is-mobile">
        <div class="column is-3"  *ngFor="let offer of (commonService.offerTagsList$ | async) | slice: 0: 4" >
            <div class="card">
                <header class="card-header">
                    <h2 class="card-header-title">{{offer.name}}</h2>
                </header>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img [src]="offer.bannerImageUrl" alt="Placeholder image">
                    </figure>
                </div>
                <footer class="card-footer card-actions">
                  
                    <a [routerLink]="['/offers',offer.doc?.id]"  class="card-footer-item">SHOW DETAILS</a>
                    <a href="#" class="card-footer-item">GRAB THE DEAL</a>
                </footer>
            </div>
        </div>

</div>
</div>
