<div class="card">
    <div class="card-header has-background-primary is-primary">
        <h2 class="card-header-title has-text-white">ADD ITEM</h2>
    </div>
    <div [formGroup]="itemInfoFg" class="card-content">
        <div class="field">
            <label class="label">Item Name</label>
            <div class="control">
                <input [ngClass]="{'is-danger': isControlInvalid(itemInfoFg, 'name')}" class="input"
                       formControlName="name" placeholder="Enter Item Name" type="text">
            </div>
            <p *ngIf="isControlInvalid(itemInfoFg, 'name')" class="help is-danger">Item name is required</p>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field-label">
                    <label class="label">Price</label>
                </div>
                <div class="field">
                    <div class="control is-expanded">
                        <input [ngClass]="{'is-danger': isControlInvalid(itemInfoFg, 'price')}"
                               class="input is-fullwidth" formControlName="price"
                               placeholder="Enter Item Price in rupees" type="text">
                    </div>
                    <p *ngIf="isControlInvalid(itemInfoFg, 'price', 'required')" class="help is-danger">This field is
                        required</p>
                    <p *ngIf="isControlInvalid(itemInfoFg, 'price', 'pattern')" class="help is-danger">Please enter
                        valid price of item. the input should be a positive number</p>
                </div>
                <div class="field-label">
                    <label class="label">Quantity</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control is-expanded">
                            <div class="select is-fullwidth">
                                <select formControlName="baseQuantityId">
                                    <option [value]="''">--select units--</option>
                                    <option *ngFor="let units of ( commonService.unitsList$ | async)"
                                            [value]="units?.doc?.id">{{ units?.name }}</option>
                                </select>
                            </div>
                        </div>
                        <p *ngIf="isControlInvalid(itemInfoFg, 'baseQuantityId')" class="help is-danger">This field is
                            required</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field-label is-normal">
                    <label class="label">Category</label>
                </div>
                <div class="field">
                    <div class="control is-expanded">
                        <div class="select is-fullwidth">
                            <select formControlName="categoryId">
                                <option value="">--select category--</option>
                                <option *ngFor="let category of ((commonService.allCategories$ | async))"
                                        [value]="category?.doc?.id">{{ category.name}}</option>
                            </select>
                        </div>
                    </div>
                    <p *ngIf="isControlInvalid(itemInfoFg, 'categoryId')" class="help is-danger">This field is
                        required</p>
                </div>
                <div class="field-label is-normal">
                    <label class="label">Status</label>
                </div>
                <div class="field">
                        <div class="control is-expanded">
                            <div class="select is-fullwidth">
                                <select formControlName="status">
                                    <option [value]="''">--select status--</option>
                                    <option value="200">Active</option>
                                    <option value="201">InActive</option>
                                </select>
                            </div>
                        </div>
                        <p *ngIf="isControlInvalid(itemInfoFg, 'status')" class="help is-danger">This field is
                            required</p>
                    </div>
            </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-body">
          <div class="field-label is-normal">
            <label class="label">Brand Name</label>
          </div>
          <div class="field">
            <div class="control is-normal">
              <div class="select is-fullwidth">
                <select formControlName="brandId">
                  <option [value]="''">--select brand--</option>
                  <option [value]="brand?.doc?.id"
                          *ngFor="let brand of (commonService.brandsList$ | async)">{{ brand?.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="field-label is-normal">
            <label class="label">Sale Tag</label>
          </div>
          <div class="field">
            <div class="control is-normal">
              <div class="select is-fullwidth">
                <select formControlName="saleTagId">
                  <option [value]="''">--select sale tag--</option>
                  <option [value]="saleTag?.doc?.id"
                          *ngFor="let saleTag of (commonService.saleTagsList$ | async)">{{ saleTag?.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="columns" *ngIf="selectedSaleTag">
          <div class="column">
            <div class="field">
              <div class="filed-body">
                <div class="filed-label">
                  <label class="label">Discount(%)</label>
                </div>
                <div class="filed">
                  <div class="control has-icons-left has-icons-right">
                    <input class="input" type="number" min="1"
                           formControlName="discount"
                           placeholder="Enter discount percentage">
                    <span class="icon is-small is-left">
                      <i class="mdi mdi-ticket-percent"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="mdi mdi-percent"></i>
                    </span>
                  </div>
                  <p *ngIf="isControlInvalid(itemInfoFg, 'discount')" class="help is-danger">This field is
                    required</p>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="p-3">
              <ul>
                <li><p>Item base price : <strong>{{ itemInfoFg?.controls?.price?.value }}</strong></p></li>
                <li><p>Discount in rupees : <strong>{{ discountPriceInRs }}</strong></p></li>
                <li><p>After discount: <strong>{{ itemInfoFg?.controls?.discountedPrice?.value }}</strong></p></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="filed is-horizontal">
          <div class="field-body">
            <div class="field-label is-normal">
              <label class="label">Color</label>
            </div>
            <div class="field">
              <div class="control is-normal">
                <input list="item-colors-list"
                       [ngClass]="{'is-danger': isControlInvalid(itemInfoFg, 'colorId')}"
                       class="input" formControlName="colorId" placeholder="start typing to search color" type="text">
              </div>
              <p *ngIf="isControlInvalid(itemInfoFg, 'colorId')" class="help is-danger">
                select valid color from the list
              </p>
              <datalist id="item-colors-list">
                <option value="">--Select color variant--</option>
                <option [value]="colorInfo?.name"  *ngFor="let colorInfo of (commonService.colorsList$ | async)">
                </option>
              </datalist>
            </div>
            <div class="field-label is-normal">
              <label class="label">Size</label>
            </div>
            <div class="field">
              <div class="control is-normal">
                <div class="select is-fullwidth">
                  <select formControlName="sizeId">
                    <option [value]="''">--select size--</option>
                    <option [value]="size?.doc?.id"
                            *ngFor="let size of (commonService.sizesList$ | async)">{{ size?.name }}
                    </option>
                  </select>
                </div>
                <p *ngIf="isControlInvalid(itemInfoFg, 'sizeId')" class="help is-danger">This field is
                  required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Stock on hand</label>
          <div class="control is-normal">
            <input [ngClass]="{'is-danger': isControlInvalid(itemInfoFg, 'stockOnHand')}"
                   class="input" formControlName="stockOnHand" placeholder="Enter Item Stock" type="text">
          </div>
        </div>
        <div class="field">
            <label class="label" for="item-desc">Description</label>
            <div class="control">
                <textarea class="textarea" formControlName="description" id="item-desc"
                          placeholder="Textarea"></textarea>
            </div>
            <p *ngIf="isControlInvalid(itemInfoFg, 'status')" class="help is-danger">This field is required</p>
        </div>
        <div *ngIf="(itemService.itemBannerImageUrl$ | async) == ''" class="box has-background-primary-light">
            <p class="subtitle">
                <ion-icon name="image-outline"></ion-icon>
                Upload item image
            </p>
            <div class="file has-name is-primary">
                <label class="file-label">
                    <input #fileSelector (change)="uploadItemImage($event)"
                           accept=".jpg, .jpeg, .png"
                           class="file-input is-fullwidth" formControlName="fileInput" name="resume" type="file">
                    <span class="file-cta">
            <span class="file-icon">
              <ion-icon name="cloud-upload-outline"></ion-icon>
            </span>
            <span class="file-label">
              Choose a file…
            </span>
          </span>
                    <span class="file-name">
            {{ selectedFileName }}
          </span>
                </label>
                <p *ngIf="isControlInvalid(itemInfoFg, 'fileInput')" class="help is-danger">This field is required</p>
            </div>
            <div *ngIf="selectedFileName !== 'no file selected' &&  ( itemService.itemBannerImageUploadProgress$ | async ) as uploadProgress"
                 class="mt-2">
                <progress
                        [ngClass]="{'progress': true, 'is-info': uploadProgress !== 100, 'is-success': uploadProgress === 100}"
                        [value]="uploadProgress" max="100"></progress>
                <p *ngIf="uploadProgress !== 0">uploading {{ uploadProgress | number}} %</p>
            </div>
        </div>
        <div *ngIf="(itemService.itemBannerImageUrl$ | async) !== ''" class="card">
            <div class="card-image">
                <figure class="image is-3by2">
                    <img [src]="(itemService.itemBannerImageUrl$ | async)" alt="banner image">
                </figure>
            </div>
            <div class="card-footer">
                <div class="card-footer-item">
                    <button class="button is-small is-primary">
                        See preview
                    </button>
                </div>
                <div class="card-footer-item">
                    <button (click)="deleteImageAndUploadNew()" class="button is-small is-danger">
                        Delete & upload new
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="card-footer-item">
            <button (click)="resetFormInfo()" class="button is-light is-fullwidth"> RESET</button>
        </div>
        <div class="card-footer-item" *ngIf="!editMode">
            <button (click)="addItemToStore()" class="button is-primary is-fullwidth"> ADD ITEM</button>
        </div>
        <div class="card-footer-item" *ngIf="editMode">
          <button (click)="updateItem()" class="button is-primary is-fullwidth"> UPDATE ITEM</button>
        </div>
    </div>
</div>
