<app-slide-show></app-slide-show>
<div class="container mt-2">
    <div class="column p-1">
      <article class="tile is-child box is-flex is-justify-content-center has-background-light">
        <h2 class="has-text-centered is-size-3 p-3 border-line">
          <ion-icon name="star" style="color:  #ef9f0b;"></ion-icon> Popular by categories
        </h2>
      </article>
    </div>
</div>
<app-categories-block></app-categories-block>
<div class="container mt-2">
    <div class="column p-1">
      <article class="tile is-child box is-flex is-justify-content-center has-background-light">
        <h2 class="has-text-centered is-size-3 p-3 border-line"> <ion-icon name="happy"  style="color:  #ef9f0b;"></ion-icon> Happy Customers</h2>
      </article>
    </div>
</div>
<app-testimonials></app-testimonials>
